.jumbotron {
	background-color:lightskyblue;
	color: black;
}

.btn-reservar {
	background-color: darkkhaki;
	color: azure;
	width: 100%;
	left: 0;
	bottom: 0;

}

.card-hotel {
	flex: 1 150px;
	padding: 2px 2px 2px 2px;
	
}

footer {
	background-color: lightgoldenrodyellow;
	padding: 10px 10px 0 10px;
	margin-bottom: 0px;
	margin-top: 40px;

}
